<%= form_with model: [@word, description] do |form| %>
    <div>
        <% if description.new_record? %>
            <%= form.label :description, "How do you want to describe the word?"%><br>
        <% end %>
        <%= form.text_area :description, class: "rounded-md w-full" %>
        <% description.errors.full_messages_for(:description).each do |message| %>
            <div class="text-red-500"><%= message %></div>
        <% end %>
    </div>
    <div class="mt-2 *:bg-blue-500 *:px-8 *:py-2 *:rounded-md *:text-white *:hover:bg-blue-400 *:active:bg-blue-600 *:active:scale-95 *:cursor-pointer">
        <%= form.submit "Save" %>
    </div>
<% end%>

