<nav class="fixed top-0 left-0 h-[48px] w-full flex justify-between items-center px-2 sm:px-16">
    <a href="/words" class="inline-block border rounded-md px-2 py-1 hover:bg-gray-200 active:bg-gray-300 active:scale-95">Back</a>
</nav>
<div class="p-2 py-[48px] sm:p-0 sm:py-[48px] grid gap-8 sm:gap-0 sm:grid-cols-3">
    <div class="sm:pl-16">
        <h1 class="text-4xl mb-4"><%= @word.word.capitalize() %></h1>
        <ul class="flex gap-2">
            <li><%= link_to "Edit", 
                    edit_word_path(@word), 
                    class: "inline-block bg-blue-500 px-8 py-2 rounded-md text-white hover:bg-blue-600 active:bg-blue-700 active:scale-95" %>
            </li>
            <li><%= link_to "Delete", word_path(@word),
                    class: "inline-block border px-8 py-2 rounded-md hover:bg-red-500 active:bg-red-600 hover:text-white active:text-white active:scale-95",
                    data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
            } %></li>
        </ul>
    </div>
    <div class="sm:px-8">
        <h2 class="text-4xl mb-4">New description</h2>
        <%= form_with model: [ @word, Description.new(word: @word) ] do |form| %>
            <p>
                <%= form.label :description %><br>
                <%= form.text_field :description %>
            </p>
            <p>
                <%= form.submit %>
            </p>
        <% end %>
    </div>
    <div class="pr-16">
        <h2 class="text-4xl mb-4">Descriptions</h2>
        <% if @word.descriptions.any? %>
            <ul>
                <% @word.descriptions.each do |description| %>
                <li>
                    <span><%= description.description %></span>
                    <span>
                        <%= link_to "Delete", [description.word, description],
                        data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?"
                        } %>
                    </span>
                </li>
                <hr class="my-4"/>
                <% end %>
            </ul>
        <% else %>
            <p>There are no descriptions saved!</p>
        <% end %>
    </div>
</div>