<h1><%= @word.word %></h1>

<p>Welcome to the <%= @word.word %> page.</p>

<ul>
    <li><%= link_to "Edit", edit_word_path(@word) %></li>
    <li><%= link_to "Delete", word_path(@word), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
    } %></li>
</ul>

<h2>Descritions</h2>

<ul>
    <% @word.descriptions.each do |description| %>
        <li>
            <%= description.description %>
            <span>
                <%= link_to "Delete", [description.word, description], data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?"
                            } %>
            </span>
        </li>
    <% end %>
</ul>

<h2>Add descriptions</h2>

<%= form_with model: [ @word, @word.descriptions.build ] do |form| %>
    <p>
        <%= form.label :description %><br>
        <%= form.text_field :description %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>

<a href="/words">Back</a>